PORT=3334

# OpenAI
OPENAI_API_KEY=sk-sua-chave-openai-aqui

# Redis
REDIS_URL=redis://localhost:6379

# Supabase
SUPABASE_URL=https://sua-url-aqui.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua-chave-service-role-aqui
